<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<app-buscador></app-buscador>

<section class="details-card">
  <div class="container">
    <div class="row">
      <div class="col-md-4 down" *ngFor="let item of lstPokemon">
        <div class="card-content">
          <div class="card-img">
            <img src="{{item.rutaMiniatura}}" alt="">
            <span><h4>N.°{{item.numero}}</h4></span>
          </div>
          <div class="card-desc">
            <h3>{{item.nameenglish}}</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
              voluptas totam
            </p>
            <a href="#" class="btn-card">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row centrar">
      <button type="button" class="btn btn-info" (click)="CargarPokemon()">Cargar más Pokémon</button>
    </div>
  </div>
</section>

<div class="container">
</div>
