USE [master]
GO
/****** Object:  Database [Pokedex]    Script Date: 7/03/2021 19:16:38 ******/
CREATE DATABASE [Pokedex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pokedex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pokedex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pokedex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pokedex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokedex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokedex]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 7/03/2021 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[id] [int] NOT NULL,
	[numero] [varchar](3) NULL,
	[nameenglish] [varchar](12) NOT NULL,
	[namejapanese] [nvarchar](6) NOT NULL,
	[namechinese] [nvarchar](5) NOT NULL,
	[namefrench] [varchar](12) NULL,
	[type0] [varchar](8) NOT NULL,
	[type1] [varchar](8) NULL,
	[baseHP] [int] NOT NULL,
	[baseAttack] [int] NOT NULL,
	[baseDefense] [int] NOT NULL,
	[baseSp_Attack] [int] NOT NULL,
	[baseSp_Defense] [int] NOT NULL,
	[baseSpeed] [int] NOT NULL,
	[rutaMiniatura] [varchar](40) NULL,
	[rutaImagen] [varchar](40) NULL,
 CONSTRAINT [PK__Pokemon__3213E83F55D98307] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 7/03/2021 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[english] [varchar](8) NOT NULL,
	[chinese] [nvarchar](2) NOT NULL,
	[japanese] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[english] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pokemon] ([id], [numero], [nameenglish], [namejapanese], [namechinese], [namefrench], [type0], [type1], [baseHP], [baseAttack], [baseDefense], [baseSp_Attack], [baseSp_Defense], [baseSpeed], [rutaMiniatura], [rutaImagen]) VALUES (1, N'001', N'Bulbasaur', N'フシギダネ', N'妙蛙种子', N'Bulbizarre', N'Grass', N'Poison', 45, 49, 49, 65, 65, 45, N'/assets/img/miniatura/001.png', N'/assets/img/images/001.png')
INSERT [dbo].[Pokemon] ([id], [numero], [nameenglish], [namejapanese], [namechinese], [namefrench], [type0], [type1], [baseHP], [baseAttack], [baseDefense], [baseSp_Attack], [baseSp_Defense], [baseSpeed], [rutaMiniatura], [rutaImagen]) VALUES (2, N'002', N'Ivysaur', N'フシギソウ', N'妙蛙草', N'Herbizarre', N'Grass', N'Poison', 60, 62, 63, 80, 80, 60, N'/assets/img/miniatura/002.png', N'/assets/img/images/002.png')
INSERT [dbo].[Pokemon] ([id], [numero], [nameenglish], [namejapanese], [namechinese], [namefrench], [type0], [type1], [baseHP], [baseAttack], [baseDefense], [baseSp_Attack], [baseSp_Defense], [baseSpeed], [rutaMiniatura], [rutaImagen]) VALUES (3, N'003', N'Venusaur', N'フシギバナ', N'妙蛙花', N'Florizarre', N'Grass', N'Poison', 80, 82, 83, 100, 100, 80, N'/assets/img/miniatura/003.png', N'/assets/img/images/003.png')
GO
INSERT [dbo].[Tipo] ([english], [chinese], [japanese]) VALUES (N'Bug', N'虫', N'むし')
INSERT [dbo].[Tipo] ([english], [chinese], [japanese]) VALUES (N'Dark', N'恶', N'あく')
INSERT [dbo].[Tipo] ([english], [chinese], [japanese]) VALUES (N'Dragon', N'龙', N'ドラゴン')
GO
USE [master]
GO
